@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="/user/login">Login</a>
    <h2><a href="https://epramaan.meripehchaan.gov.in/">Login with e-pramaan</a></h2>

</div>
