@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>e-Pramaan is a standards based, federated e-Authentication solution aimed to provide a robust and uniform electronic authentication mechanism for online access to government applications providing public services. It addresses risk based authentication needs of an application and so, provides several factors of authentication such as username-password, One Time Password (OTP), Digital Signature Certificates (DSC), Aadhaar biometrics which can be combined to provide single or multi-factor authentication depending on the application's requirements. In addition, it comes with features such as single-sign on (SSO), website authentication and fraud management.</p>
<p><a class="btn btn-default" href="https://epramaan.gov.in/faq.html">Learn more &raquo;</a></p>