@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>NSSO</h1>
    <p>The government was launched a single sign-on (SSO) service for access to a wide range of government programs and benefits.</p>
    <p><a href="https://www.biometricupdate.com/202201/india-plans-single-sign-on-for-digital-government-services-aadhaar-fraud-ring-arrested" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Meri-Pehachan</h2>
        <h5> Meri Pehchan -National Single Sign-On</h5>
        <h5>Dedicated to the Nation</h5>
        <h6>By</h6>
        <h3>Shri Narendra Modi </h3>
        <h5>Prime Minister</h5>
        <h4>-In The August Presence of-</h4>
        <h3>Shri Bhupendra Patel</h3>
        <h4>Chif Minister Of Gujarat</h4>
        <h5>Ghandinagar,Gujarat | Monday, July 4, 2022</h5>
        <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=vnSYfnPjM1g">Watch Video &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>E-pramman</h2>
        <p>e-Pramaan is a uniform standard based national e-Authentication framework to authenticate users of various government services in a safe and secure manner for accessing services through desktop as well as mobile</p>
        <p><a class="btn btn-default" href="https://epramaan.gov.in/whatisepramaan.html">Learn more &raquo;</a></p>
    </div>

</div>